label {
    text-align: right;
}

.card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.137);
    border: 1px solid black;
}

@media (max-width: 575.98px) {
    label,
    .card {
        width: 100%;
        text-align: left;
    }
}