<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="mb-4">Angular Form</h4>

                        <form [(formGroup)]="profileForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="success" class="alert alert-success" role="alert">Your Form is Submited!</div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-lable">Name :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                                    <div *ngIf="submitted && profileForm.controls.name.errors" class="alert alert-danger mt-2" role="alert">
                                        <div *ngIf="profileForm.controls.name.errors.required">Your Name is Required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-lable">Email :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                    <div *ngIf="submitted && profileForm.controls.email.errors" class="alert alert-danger mt-2" role="alert">
                                        <div *ngIf="profileForm.controls.email.errors.required">Your Email is Required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-lable">Phone :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Phone No." formControlName="phone">
                                    <div *ngIf="submitted && profileForm.controls.phone.errors" class="alert alert-danger mt-2" role="alert">
                                        <div *ngIf="profileForm.controls.phone.errors.required">Your Phone No. is Required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-lable"></label>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>